
.ui-grid-b img {
       width  : 100%;
       height : auto;
   }

body {
    font-family: Georgia, "Times New Roman",
          Times, serif;

}
h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }